@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@mixin tablet {
    @media only screen and (max-width: 700px) {
      @content;
       
    }
}

body{
    font-family: 'Montserrat', sans-serif;
    background: #e5e7ef;
    .text-center{
        text-align: center;
    }
    .hidden{
        display: none;
    }
    .show{
        display: block;
    }
    .red{
        color: #ef434e;
    }
    .container-table{
        display: flex;
        padding: 0px 50px;
        .row{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .header-table{
                color: white;
                background: linear-gradient(22deg, #111e6c 63%, #ef434e 120%);
                width: 100%;
                padding: 1rem;
                font-size: 22px;
                font-weight: 500;
                border-radius: 16px 16px 0px 0px;
                h5{
                    font-weight: 400;
                    margin: 0px;
                }
            }
            .table{
                overflow-x:auto;
                overflow-y: auto;
                height: 250px;
                width: 100%;
                table {
                    border-collapse: collapse;
                    width: 100%;
                    background: white;
                    font-size: small;
                    color: #111e6c;
                    border-radius: 0px 0px 16px 16px;
                    tr:not(:last-child) {
                        border-bottom: 1px solid #ccc;
                    }
                    th{
                        border-bottom: 1px solid #ccc;
                        padding: 12px; 
                        text-align: initial;
                    }
                    tbody{
                        tr:nth-child(odd){ 
                            border-left: 5px solid  #111e6c;
                        }
                        tr:nth-child(even){ 
                            border-left: 5px solid #969696;
                        }
                    }
                    td {
                        padding: 8px;
                        vertical-align: initial;
                    }
                }
            }            
        }

    }



    .container{
        display: flex;
        padding: 30px 50px;
        h5{
            font-weight: 400;
            margin: 10px;
        }
        .row{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .column{
                background: white;
            }
            .column-left{
                flex: 1 1 25%;
                border-radius: 16px;
                .own-accounts-container {
                    .card-section {
                        //width: clamp(20rem, calc(20rem + 2vw), 22rem);
                        box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
                        border-radius: 1em;
                        background: #ECE9E6;
                        background: linear-gradient(to right, #FFFFFF, #ECE9E6);
                        .card-header{
                            padding: 1rem;
                            background-image: linear-gradient(122deg, #111e6c -33%, #ef434e 100%);
                            border-radius: 1em 1rem 0 0;
                            color: #FFF;
                        }
                          
                        .card-body {
                            padding-top: 1rem;
                            text-align: center;
                            background: linear-gradient(122deg, #111e6c -33%, #ef434e 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            color: tomato;  
                            h4{
                                font-size: 1.5rem;
                                text-transform: capitalize;
                            }
                        }
                        .card-footer {
                            padding-bottom: 1rem;
                            text-align: center;
                            color:#111e6c;
                        }
                    
                        h4{
                            margin: 10px;
                        }
                    }
                }
    
                @include tablet {
                    flex: 1 1 100%;
                }
            }

            .column-rigth{
                flex: 1 1 72%;
                margin-left: 3%;
                background: #e5e7ef;    
                .btn-group{
                    width: 100%;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
                    border: 1px solid white;
                    border-radius: 1px;
                    display: flex;
                    justify-content: space-between;
                    background: white;
                }

                .btn-group button {
                    background-color: white; 
                    border: 1px solid white; 
                    color:  #111e6c; 
                    padding: 10px 24px; 
                    cursor: pointer; 
                    float: left;
                    width: 100%;
                    font-weight: bold;
                    
                    
                }
                  
                  /* Clear floats (clearfix hack) */
                .btn-group:after {
                    content: "";
                    clear: both;
                    display: table;
                }
                  
                .btn-group button:not(:last-child) {
                    border-right: none; 
                }
                  
                .btn-group button:hover {
                    background-color: #e5e7ef;
                    border-radius: 1rem;
                }
                .active{
                    background-color: #e5e7ef !important;
                    border-radius: 1rem;
                }
                .btn-filter{
                    position:relative;
                    float:right;

                    .filter{
                        width:250px;
                        cursor: pointer;
                        margin-top: 30px;
                        border-radius: 8px;
                        cursor: pointer; 
                        button{
                            width:100%;
                            border-radius: 8px;
                        }
                    }
                    .box-filter{
                        position:absolute;
                        top:10px;
                        left:0;
                        background:white;
                        width:99%;
                        color:#111e6c;
                        box-shadow: 0 13px 15px 0 rgb(0 0 0 / 10%);
                        border: 1px solid white;
                        border-radius: 16px;
                        padding: 10px 0px;
                        .header-filter{
                            display: flex;
                            span{
                                flex: 1 1 15%;
                                margin-top: 5px;
                                font-weight: 600;
                                cursor: pointer;
                            }
                            h5{
                                flex: 1 1 85%;
                                text-align: center;
                                font-weight: 600;
                                font-size: 14px;
                            }
                        }
                        
                        .style-check{
                            padding: 10px;
                            font-weight: 600;
                            input[type=checkbox]{
                                /* Double-sized Checkboxes */
                                -ms-transform: scale(1.2); /* IE */
                                -moz-transform: scale(1.2); /* FF */
                                -webkit-transform: scale(1.2); /* Safari and Chrome */
                                -o-transform: scale(1.2); /* Opera */
                                transform: scale(1.2);
                                padding: 10px;
                            }
                        }
                        
                        button{
                            padding: 13px;
                            width: 120px;
                            border-radius: 20px;
                            background-color: #ef434e;
                            color: #fff;
                            font-size: .75rem;
                            font-weight: 600;
                            border: 0;
                            outline: none;
                        }


                    }
                }
                @include tablet {
                    flex: 1 1 100%;
                    margin-left: 0%;
                    margin-top: 30px;
                    .btn-filter{
                        float: unset;
                    }
                }

            }
            
        }
    }  
}

